/* Filter*/
.custom-field-info label{
  margin-top:  10px;
  margin-bottom: 10px;
}
/* Single Post Styles */
#single-post .post-content a{ text-decoration: underline; }
#single-post p{ font-size: 17px; }
#single-post .featured-image-container img,
#single-post p img,
#single-post img.aligncenter,
#single-post img.alignleft,
#single-post  img.alignright,
#single-post img.alignnone{
  max-width: 100%;height: auto;
}
/* Single post images with caption */
#single-post div .wp-caption{
  max-width: 100%;
}
#single-post div .wp-caption img{
  height: auto;
  width: 100%;
}
/* Caption text */
#single-post div .wp-caption .wp-caption-text{
  font-size: small;
  font-style: italic;
  color: #990000;
  margin-top: 10px;
}
/* Caption text link */
#single-post div .wp-caption .wp-caption-text a{ color: #d8450b; }
/* Categories section */
#single-post .categories{ color: #771a45; font-weight: bold; }
#single-post .post-categories{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-post .post-categories li{ display: inline-block; }
/*Post Tags Section */
#single-post .post-tags a:before {
    font-family: "FontAwesome";
    content: "\f02c";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 20px;
}
#single-post .post-tags{ margin-top: 25px; }
#single-post .post-tags a{
  border: 2px solid #771a45;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 12px 24px;
  margin-right: 30px;
  margin-bottom: 25px;
  color: #771a45;
  border-radius: 4px 4px 4px 4px;
  }
#single-post .post-tags a:hover{ background-color: #771a45; color: #fff; }
#single-post .under{
  margin-top: 20px;
  height: 1px;
  display: inline-block;
  border-top: 1px solid #999999;
  width: 100%;
  max-width: 100%;
}
/*Posts navigation*/
#single-post .pull-left a, #single-post .pull-right a{
  background-color: #771a45;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
}
#single-post .pull-left a:hover, #single-post .pull-right a:hover{
  background: #881e4f;
  border-bottom-color: #731943;
}
/* About Author Section */
#single-post .authors-section{
  padding-top: 10px;
  /* background: #ededed; */
  margin-bottom: 30px;
}
/* #single-post .authors-section .author-body{ margin-bottom: 30px; } */
#single-post .authors-section:first-child .author-body{ margin-top: 20px; }
#single-post .authors-section .author-body:last-child{ margin-bottom: 0; }
#single-post .author-avatar > img,
.users .author-avatar > img,
#author-page .author-avatar > img{
  /* margin-bottom: 20px; */
  display: inline-block;
  border: 2px solid #000;
  /* border-radius: 50%; */
}
#single-post .authors-section .author-body{
  padding: 0;
  margin-bottom: 20px;
}
#single-post .authors-section .author-body .author-name{
  margin-top: 0;
}
#single-post .authors-section .author-body .author-avatar{
  padding: 0;
}
#single-post .author-avatar img,
#author-page .author-avatar img,
/* .users .author-avatar img{ border-radius: 50%; } */
/* Comments */
#single-post .comment-form input[type=submit] {
    background: #731943;
    border: 1px solid #731943;
    border-radius: 2px;
    color: #fff;
    padding: 6px 12px !important;
    border-radius: 4px 4px 4px 4px;
}
#single-post .comment-form input[type=submit]:hover {
  text-decoration: underline;
  background: #881e4f;
  border-bottom-color: #731943;
}
.users .author-info-section,
#author-page .author-info-section{ padding-bottom: 30px; }
@media(max-width: 768px){
  #single-post .authors-section .author-body .author-avatar{
    padding-bottom: 20px;
  }
  #single-post .authors-section .author-body .author-desc{
    padding-left: 0;
  }
}
/* Orbit three column grid */
@media (min-width: 769px){
  .article-list.three-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
  .article-list.two-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
  /* Author Page */
  .users .author-info-section,
  #author-page .author-info-section{
    display: grid;
    grid-template-columns: 120px 1fr;
  }
  .users .author-info-section h3,
  #author-page .author-info-section h3{ margin-top: 0; }
}
@media(max-width: 768px){
  .article-list.three-list > li,
  .article-list.two-list > li{
    margin-bottom: 20px
  }
}
.article-list.three-list .article-content,
.article-list.two-list .article-content{
  background-color: #f7f7f7;
  padding: 25px 20px;
  min-height: 300px;
}
.article-list.three-list a,
.article-list.two-list a{
  display: block;
  padding: 0;
  border: 0;
}
.article-list.three-list .article-content h4,
.article-list.two-list .article-content h4{
    line-height: 1.3;
    font-size: 1.45em;
}
.article-list.three-list .article-featured-image,
.article-list.two-list .article-featured-image{
  max-height: 200px;
  overflow: hidden;
  background: #eee;
}
.article-list.three-list .article-featured-image img,
.article-list.two-list .article-featured-image img{
  max-width: 100%;
  height: auto;
}
/* Categories section */
.article-list.three-list .categories,
.article-list.two-list .categories{
  font-weight: bold;
}

.article-list.three-list .post-categories,
.article-list.two-list .post-categories{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.article-list.three-list .post-categories li,
.article-list.two-list .post-categories li{
  display: inline-block;
}


@media(min-width: 768px){
  .orbit-search-container.default-theme{
    display: block;
  }

  .orbit-search-container.default-theme .orbit-search-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

nav.navigation.pagination {
  background: none;
}
nav.navigation.pagination .page-numbers {
  text-decoration: none;
  display: inline-block;
  padding: 7px 10px;
  margin: 0 2px 0 0;
  line-height: 1;
  border-radius: 50%;
  color: #771a45;
}
nav.navigation.pagination .page-numbers.current, nav.navigation.pagination .page-numbers:hover {
  background: #eee;
}
nav.navigation.pagination .page-numbers.dots:hover, nav.navigation.pagination .page-numbers.prev:hover, nav.navigation.pagination .page-numbers.next:hover {
  background: none;
}
nav.navigation.pagination .page-numbers.prev, nav.navigation.pagination .page-numbers.next {
  text-decoration: underline;
  padding: 7px 0;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* Archive */
.article-list .orbit-content{ padding: 25px 20px 0; }
.article-list .orbit-btn{ padding: 20px 20px !important; }
.article-list .orbit-content .orbit-title{ font-size: 1.45em; line-height: 1.3; }


/* Accordian*/
.paper-box .view-services{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Cf-other */
.panel-group .cf-other-title > h4 {
  font-weight: bold;
  font-size: 14px;
}
/* Cf-other */
.btn.btn-accord{
  background: transparent;
  font-size: 17px;
  width: 100%;
  text-align: left;
}
.btn.btn-accord:focus{outline: none;}
.btn.btn-accord:active{box-shadow: none;}


.btn.btn-accord::after{
  content : '-';
  float: right;
}

.btn.btn-accord.collapsed::after{
  content : '+';
}
